// .container {
//   width: 100%;
//   // min-height: 100vh;
//   display: flex;
//   flex-flow: row wrap;
//   justify-content: center;
//   align-items: center;
//   background: black;
//   margin:50px 100px 200px 0;
//   justify-items: center;
  
// }

.card {
  position: relative;
  width: 350px;
  height: 190px;
  background: #333;
  transition: 0.5s;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 80px;
  justify-items: center;
}

.card:hover {
  height: 450px;
}

.lines {
  position: absolute;
  inset: 3px;
  background: #000;
  overflow: hidden;
}

.lines::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 120px;
  background: linear-gradient(transparent, #45f3ff, #45f3ff, #45f3ff, transparent);
  animation: animate 4s linear infinite;
}

.lines::after {
  content: '';
  position: absolute;
  inset: 3px;
  background: #292929;
}

.imageBox {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  background: #000;
  transition: 0.5s;
  z-index: 10;
  overflow: hidden;
}

.imageBox:hover {
  width: 250px;
  height: 250px;
}

.imageBox::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 150px;
  transform: translate(-50%, -50%);
  background: linear-gradient(transparent, #ff3c7b, #ff3c7b, #ff3c7b, transparent);
  animation: animate 4s linear infinite;
}

.imageBox::after {
  content: '';
  position: absolute;
  inset: 3px;
  background: #292929;
}

.imageBox img {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  filter: grayscale(0);
  transition: 0.5s;
  z-index: 1;
}

.imge:hover {
  filter: grayscale(0);
}


@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.details {
  width: 100%;
  text-align: center;
  transition: 0.5s;
  transform: translateY(80px);
}

.details:hover {
  transform: translateY(-90px);
}

.head{
  font-size: 1.5rem;
  font-weight: 600;
  color: #45f3ff;
  line-height: 1.5rem;
  font-family: 'Tajawal', sans-serif;
}

.spand {
  font-size: 0.75rem;
  font-weight: 500;
  color: #fff;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px 0;
}

.head1{
  font-size: 1rem;
  color: #45f3ff;
  line-height: 1.2rem;
  font-weight: 600;
  text-align: center;
}

.span1 {
  font-size: 0.8rem;
  font-weight: 400;
  color: #fff;
}

.actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px
  

}

.cs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.bu1 {
  min-width: 100px;
  padding: 10px 0;
  border: none;
  outline: none;
  background: #45f3ff;
  font-size: 1rem;
  font-weight: 500;
  color: #222;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.5s;
}

.bu2 {
  min-width: 100px;
  padding: 10px 0;
  border: none;
  outline: none;
  background: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  color: #222;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.5s;
}

.card .content .details .actions button:nth-child(2) {
  background: #fff;
}

.card .content .details .actions button:hover {
  opacity: 1;
}

.card .content .details .actions button:active {
  opacity: 1;
  transform: scale(0.98);
}
