.head {
  text-align: center;
  color: blue;
  margin: 1vw 1vw 0vw 1vw;
  font-size: 2.75vw;
  letter-spacing: 0.5vw;
  @media only screen and (max-width: 600px) {
    font-size: 8vw;
    letter-spacing: 0.5vw;
  }
}
.ongoing {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}
.ongoing_banner {
  display: flex;
  justify-content: center;
  :hover {
    background-color: blue;
  }
}
.past_events {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 20px;
}
.carousel {
  justify-content: center;
  margin: 2vw 12vw;
  @media only screen and (max-width: 600px) {
    margin: 3vw 2vw;
  }
}
.content {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

// .content {
//   margin: 0vw 12vw 1vw 12vw;
//   color: white;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;

//   .image {
//     margin: 2vw;
//     display: flex;
//     justify-content: center;
//     :hover{
//       background-color: blue;
//     }
//   }
// }

.events{
  margin: 2vw 12vw;
}