// @import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

.head{
    // text-align: center;
    // color: white;
    // margin: 1vw;
    // font-size: 2vw;
    text-align: left;
    color: white;
    margin-top: 10vw;
    margin-left: 15vw;
    font-size: 4vw;
    line-height: 5vw;
   

}

.head1{
    text-align: left;
    color: white;
    margin-left: 15vw;
    margin-top: 2.5vw;
}
