.head{
    color: blue;
    text-align: center;
    font-size: 3vw;
    margin: 2vw;
    letter-spacing: 0.5vw;
}
.gallery {
    position:absolute;
    top: 10vw;
    margin: 2vw; 
    display: flex;
    padding: 2px 2vw;
    transition: 0.3s;
    z-index: -1;

    figure {
      margin : 10px;
    }
  
    // &:hover &__image {
    //   filter: grayscale(1);
    // }
  
  
    &__column {
      display: flex;
      flex-direction: column;
      width: 25%;
    @media only screen and (max-width: 600px){
      width: 50%;
    }
    }
  
    &__link {
      margin: 2px;
      overflow: hidden;
  
      &:hover {
        .gallery__image {
          filter: grayscale(0);
        }
  
        .gallery__caption {
          opacity: 1;
        }
      }
    }
  
    &__thumb {
      position: relative;
      z-index: 100;
    }
  
    &__image {
      display: block;
      width: 100%;
      transition: 0.3s;
  
      &:hover {
        transform: scale(1.1);
      }
    }
  
    &__caption {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 25px 15px 15px;
      width: 100%;
      font-family: "Raleway", sans-serif;
      font-size: 16px;
      color: white;
      opacity: 0;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      transition: 0.3s;
  
    @media only screen and (max-width: 600px){
      font-size: 12px;
      padding: 15px 5px;
    }
    }
  }