.head {
  text-align: center;
  color: blue;
  margin: 5vw 1vw 0vw 1vw;
  font-size: 3vw;
  letter-spacing: 0.5vw;
  @media only screen and (max-width: 600px) {
    font-size: 8vw;
    margin: 5vw 1vw 0vw 1vw;
  }
}

.content {
  margin: 0vw 12vw 3vw 12vw;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .text {
    margin: 3vw;
    font-size: 1vw;
    text-align: justify;
    @media only screen and (max-width: 600px) {
      font-size: 4vw;
    }
  }
  @media only screen and (max-width: 600px) {
    font-size: 4vw;
    margin: 0vw 2vw 3vw 2vw;
  }
}

.heading {
  font-size: 3vw;
  color: blue;
  text-align: center;
  margin: 2vw;
  letter-spacing: 0.5vw;
  @media screen and (max-width: 600px) {
    font-size: 8vw;
    margin: 4vw;
  }
}
.cardp {
  margin: 2vw 12vw 5vw 12vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  @media only screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2vw 2vw 8vw 2vw;
  }
}

.carousel {
  justify-content: center;
  margin: 2vw 12vw;
  @media only screen and (max-width: 600px) {
    margin: 3vw 2vw;
  }
}
